@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap');

:root {
    --colorback: #f3f3f3;
    --colorhover: #3f3f3f;
    --cor1: #356DEB;
    --cor2: #2CD3F6;
    --cor3: #2688D4;
    --cor4: #262CD4;
    --cor5: #5C2CF6;
    --font-menu: 'Nunito', sans-serif;
    --font-title: 'Maven Pro', sans-serif;
    --font-text: 'Source Code Pro', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: white;
}

/*Cabeçalho*/
header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    font-family: var(--font-menu);
    background-color: var(--cor4);
    font-weight: lighter;
    border-bottom: 2px solid var(--cor3);
}

header > h1 {
    color: var(--colorback);
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;
}
/*Menu Mobile*/
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .menu {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--cor4);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .menu a {
        text-decoration: none;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        font-size: 1.1em;
        color: var(--colorback);
        margin: 20px 0px;
        opacity: 0;
    }

    .menu.active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}

/*Conteúdo*/

main {
    max-width: 768px;
    margin: auto;
    padding: 10px 20px;
    display: block;
}

main > h2 {
    font-family: var(--font-title);
    padding-top: 90px;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}

main > hr {
    margin: 0 auto;
    width: 50vw;
    border: none;
    background-color: var(--cor2);
    height: 2px;
}

section {
    padding: 40px 30px;
    text-align: justify;
}

section h2 {
    font-family: var(--font-text);
    font-size: 1.4em;
}

section p {
    font-size: 1.2em;
}

.photo-profile {
    text-align: center;
}
.photo-profile img {
    cursor: pointer;
}

.info {
    height: 28px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 500px) {
    .info {
        width: 60%;
    }
}

@media screen and (min-width: 560px) {
    .info {
        width: 50%;
    }
}

.info svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.info svg path {
    fill: var(--cor5);
}

.info svg:hover {
    height: 28px;
    width: 28px;
}

.info svg:hover path {
    fill: var(--cor2);
}

.info > p {
    font-size: 1em;
    display: inline;
}

.feature-plus {
    font-family: var(--font-title);
    font-size: 1em;
    font-weight: bold;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 150px;
    background-color: var(--cor2);
    border-radius: 10px;
    cursor: pointer;
}

.feature-plus a {
    text-decoration: none;
    color: black;
}

.feature-plus img {
    height: 20px;
}

.feature-plus:hover {
    background-color: var(--cor5);
}

.education img {
    display: inline-block;
}

#projects {
    display: flex;
    flex-direction: column;
}

.projeto a img {
    width: 100%;
    box-sizing: border-box;
    transition: .5s;
}

.projeto a img:hover {
    transform: scale(110%);
}

.projeto a img {
    /*Imagem de projeto tamanho: 666px 210px*/
    border-radius: 10px;
}

#contacts {
    font-family: var(--font-text);
}

#contacts h2 {
    text-align: center;
}

#contacts p {
    font-family: var(--font-menu);
}

.social-medias {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rede a {
    text-decoration: none;
}

.rede a p {
    display: none;
    font-size: .9em;
}

.logo-redes:hover {
    transform: scale(110%);
}

/*Rodapé*/
footer {
    padding: 10px;
    background-color: var(--colorhover);
}

footer > p {
    text-align: center;
    padding: 8px;
    color: var(--colorback);
}

footer > p > a {
    text-decoration: none;
    color: var(--cor2);
    cursor: pointer;
}

footer > p > a:hover {
    color: var(--cor5);
}