@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

:root {
    --colorback: #f3f3f3;
    --colorhover: #3f3f3f;
    --cor1: #356DEB;
    --cor2: #2CD3F6;
    --cor3: #2688D4;
    --cor4: #262CD4;
    --cor5: #5C2CF6;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: white;
}

/*Cabeçalho*/
header {
    font-family: 'Nunito', sans-serif;
    background-color: var(--cor4);
    font-weight: lighter;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid var(--cor3);
}

header > h1 {
    color: var(--colorback);
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

.menu {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    color: var(--colorback);
    margin: 10px;
}

/*Conteúdo*/

main {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    display: block;
}

section {
    padding: 70px;
    text-align: justify;
}

section p {
    font-size: 1.2em;
}

.text-profile {
    display: inline;
}

.social-medias {
    list-style: none;
    display: flex;
    justify-content: center;
}

.rede {
    margin: 20px;
}

.rede a {
    text-decoration: none;
}

.logo-redes {
    border-radius: 8px;
    color: var(--cor2);
    padding: 4px;
}

section#contacts p {
    font-size: .9em;
}

/*Rodapé*/
footer {
    padding: 10px;
    background-color: var(--colorhover);
}

footer > p {
    text-align: center;
    padding: 8px;
    color: var(--colorback);
}